extends layout.pug 

block content
    if(errors)
        div(class="error_div")
            each error in errors
                ul
                    li(class="error")= error
    .main-content-container
        div(class='form-container')
            h1 Sign Up
            form(class = "signup-Form form", method='post', action='/me/sign-up')
                div(class="input")
                    label Email
                    input(type='email', name='email', placeholder='Email')
                div(class="input")
                    label Name
                    input(type='text', name='name', placeholder='Name')
                div(class="input")
                    label Password
                    input(type='password', name='password', placeholder='Password')
                div(class="input")
                    label Confirm Password
                    input(type='password', name='confirmPassword', placeholder='Confirm Password')
                    input(type='hidden', name='_csrf', value=csrfToken)
                div(class="submit-button")
                    button(type='submit', class='submit-btn btn') Sign Up
            form(class="login-demo-form" action="/me/demo" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class="demo-button")
                    button(type="submit" class="demo-btn btn") Demo
