mixin footer

    footer
        div(class='footer-container')
            div(class='footer')
                //- h3 TEAM
                a(href='https://github.com/posidest')
                    i(class="fab fa-github")
                    span Alana LaPoint
                a(href='https://github.com/OByrnes')
                    i(class="fab fa-github")
                    span Olivia Byrnes
                a(href='https://github.com/JSchutza')
                    i(class="fab fa-github")
                    span Joshua Schutza
                a(href='https://github.com/cpbeachler')
                    i(class="fab fa-github")
                    span Caleb Beacher
            div(class='footer-img')
                img(src="/images/listenNoteAPI.png")