mixin footer

    footer
        div(class="footer__container")
            h3 TEAM
            div
                div
                    span Alana LaPoint
                    a(href='https://github.com/posidest')
                        i(class="fab fa-github")
                    a(href='https://www.linkedin.com/in/alana-lapoint/')
                        i(class="fab fa-linkedin")
                div
                    span Olivia Byrnes
                    a(href='https://github.com/OByrnes')
                        i(class="fab fa-github")
                    a(href='https://www.linkedin.com/in/olivia-byrnes-85861b1b3/')
                        i(class="fab fa-linkedin")
                div
                    span Joshua Schutza
                    a(href='https://github.com/JSchutza')
                        i(class="fab fa-github")
                    a(href='https://www.linkedin.com/in/joshua-schutza-559819ba/')
                        i(class="fab fa-linkedin")
                div
                    span Caleb Beacher
                    a(href='https://github.com/cpbeachler')
                        i(class="fab fa-github")
                    a(href='https://www.linkedin.com/in/caleb-beachler-943198128/')
                        i(class="fab fa-linkedin")
            div
                img(src="/images/listenNoteAPI.png")
                