include footer
doctype html
html
  head
  block head
    title="PODEMIC"
    link(rel='stylesheet' href='/stylesheets/index.css')
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/javascripts/index.js" type="module" defer)
    script(type='text/javascript' src='Podemic/config/index.js')
    script(src="https://kit.fontawesome.com/6463feb8bd.js" crossorigin="anonymous")




  block navbar
    div(class='nav-bar')
      if authenticated
        a(href="/me" class='logo-div' title='My Shelves')
          //- div(class='logo-div')
            //- img(src="/images/pod2point0Logo.png" class='logo')    
        a(href="/me/logout" class='nav-btn') Log Out
        div(class='search')
          button(id="searchButton" type='button')
            i(class="fas fa-search")
          input(id="searchInput" type="text" placeholder="search")
        //- a(href="/feed" class='nav-btn') Pod Feed
        a(href="/feed" class='text-logo' title='Pod Feed') Podemic
      else
        a(href="/" class='logo-div' title='Home')
          //- div(class='logo-div')
        a(href="/me/login" class='nav-btn') Log In
        a(href="/feed" class='text-logo' title='Pod Feed') Podemic




  body
    div(id="searchResults" class ="hidden searchres")
  block content
  +footer
  