doctype html
html
  head
  block head
    title="PODEMIC"
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="/javascripts/index.js" type="module" defer)
    script(type='text/javascript' src='Podemic/config/index.js')



  block navbar
    div(class='nav-bar')
      if authenticated
        a(href="/me")
          img(src="/images/logo-placeholder.svg" class='logo')
        a(href="/me/logout") Log Out
        button(id="searchButton" type='button' class='search') Search
        input(id="searchInput" type="text" placeholder="search" class='search')
        a(href="/feed") Pod Feed
      else
        a(href="/")
          img(src="/images/logo-placeholder.svg" class='logo')
          a(href="/me/login") Sign In




  body
    div(id="searchResults" class ="hidden searchres")
  block content
