doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div.navBar
      nav
        ul
          li
            a(href="/")
              img(src="/Podzz.PNG")

          li
            a(href="/") Pod Feed

              //- search bar here:

        if  user
          li
            a(href="/") Log Out
        
          li
            a(href="/") Sign In




    block content
