doctype html
html
  head
  block head
    title="PODEMIC"
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="/javascripts/index.js" type="module" defer)
    script(type='text/javascript' src='Podemic/config/index.js')



  block navbar
    div(class='nav-bar')
      if authenticated
        div(class='logo-div')
          a(href="/me")
            //- img(src="/images/pod2point0Logo.png" class='logo')
        a(href="/me/logout") Log Out
        button(id="searchButton" type='button' class='search') Search
        input(id="searchInput" type="text" placeholder="search" class='search')
        a(href="/feed" class='nav-btn') Pod Feed
      else
        div(class='logo-div')
          a(href="/")
        img(src="/images/pod2point0Logo.png" class='logo')
        a(href="/me/login" class='nav-btn') Sign In




  body
    div(id="searchResults" class ="hidden searchres")
  block content
