doctype html
html
  head
  block head
    title="Express Starter App"
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="/javascripts/index.js" type="module" defer)




  block navbar
    .navBar
      .navBar__logo
        a(href="/")
          img(src="/images/logo.PNG")
      ul.navBar__ul
        li.navBar__ul-podFeed
          a(href="/") Pod Feed
        li.navBar_ul-name Podemic
        if authenticated
          li.navBar__ul-signIn
            a(href="/me/signout") Sign Out
        else
          li.navBar__ul-signIn
            a(href="/me/login") Sign In


  body
  block content
