extends layout.pug

append head
    script(src="/javascripts/shelves.js" type="module" defer)

block content
    h1 Your Profile

    .main-content-container
        .left-bar
            h1 Welcome #{name}
            ul
                li #{email}
                a(href="") update

            a(href="") Delete Account


        .center-content
            .shelves
                h1 Your Shelf


        .right-bar
            h1 Genre
            ul
            for each_Genre in genre_info
                li
                    a(href=`feed#${each_Genre.dataValues.name}`) #{each_Genre.dataValues.name}
