extends layout.pug

append head
    script(src="/javascripts/shelves.js" type="module" defer)

block content
    h1 profile page

    .shelvesContainer
        .shelves
            h1 Your Shelf

            div #{result.current_shelf.type}
                for info in result.current_shelf.Podcasts
                    div #{info.name}
