extends layout.pug

block content
    h1 profile page
    div
        //- form(action="/logout" method="post")
        //-     input(type="hidden" name="_csrf" value=csrfToken)
        //-     button(type="submit" id="logout-button btn") Logout