.main-content-container {
  display: grid;
  grid-template-columns:4fr 1fr;
  grid-template-areas: 'center right';
}

.right-bar {
  grid-area: right;
  border: none;
  /* margin-right: 100px; */
  margin-left:82%;
  padding: 10px;
  position: fixed;
  border:3px solid #415a77;
  border-radius: 25px;
  background-color: rgba(65, 90, 119, .4);
  box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
  text-shadow: 1px -5px 3px rgba(13,27,42,0.56);
  margin-top: 20px;
}

.center-content {
  grid-area: center;
  padding: 10px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.podcast_name{
  padding: 5px;
}

h1, h2 {
  text-align: center;
  font-family: 'Electrolize', sans-serif;
  margin-top: 15px;
}

.podcast_div{
  display: flex;
  align-items: center;
  /* align-content: center; */
  flex-direction: column;
  max-width: 30%;
  margin-left:4%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 10px;
  max-height: 20%;
  border:3px solid #415a77;
  border-radius: 25px;
  background-color: rgba(65, 90, 119, .4);
  box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
  scroll-snap-align: center;
}
.podcast_description{
  font-size: smaller;
  text-align: center;
  padding: 10%;
  border:3px solid #415a77;
  border-radius: 25px;
  background-color:rgba(13,27,42,0.56);
  box-shadow: inset 0px 0px 35px 10px #415a77;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.genre_name {
  margin-top: 30px;
  font-size: 1.5em;
}
.genre_div{
  max-height: 30%;
  width: 100%;
  padding: 10px;
  margin-top:15px ;
  overflow: auto;
  display:flex;
  border:3px solid #415a77;
  border-radius: 25px;
  background-color: rgba(65, 90, 119, .4);
  box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
  -ms-overflow-style: none;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding-right: 100px;
}
.genre_div::-webkit-scrollbar{
display:none
}

.podcast_div::-webkit-scrollbar, .podcast_description::-webkit-scrollbar{
display: none;
}


.Genre__List{
  padding: 10px;
}

.newPods{
  display: flex;
}

.avgRating {
  padding: 10px;
}

.featured__Podcasts > h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}


@media screen and (max-width: 975px){
  .right-bar{
  visibility: hidden;
}
}

@media screen and (min-width: 769px) {
  .center-content{
    max-width: 1500px;
  }
  .right-bar{
    max-width: 400px;
  }
  .genre_div{
    max-height: max-content;
  }
  .podcast_div{
    max-width: 300px;
    max-height: 500px;
    flex-shrink: 0;
    flex-grow: 2;
  }
}

@media all and (max-width: 768px) {
  .center-content{
    max-width: 100%;
  }
  .main-content-container{
    display: flex;
    flex-direction: column;
  }
  .genreList{
    display: flex;

  }
  .podcast_div{
    max-width: 230px;
    max-height: 250px;
    flex-shrink: 0;
  }
  .right-bar{
    visibility: hidden;
    }
}
/* ::-webkit-scrollbar {
  width: 5px;
  color: #e0e1dd;

}

::-webkit-scrollbar-thumb {
  background-color: #1b263b;
} */
