@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
body{
  background-color: #0D1b2a;
  position: relative;
  color: #e0e1dd;
  font-family: 'Overpass', sans-serif;
}
.form-container > h1{
  padding: 10px;
  font-family: 'Electrolize', sans-serif;
  margin-top: 10px;
}
.form-container {
  display: flex;
  border: 3px solid #415a77;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(65, 90, 119, .4);
  margin: 0 auto;
  margin-top: 40px;
}

input {
  border-radius: 15px;
  padding: 8px;
  margin: 8px;
  font-family: 'Overpass', sans-serif;
  width: 300px;
  box-sizing: border-box;
  background-color: #e0e1dd;
}

label {
  display: none;
}

.submit-btn {
font-family: 'Overpass', sans-serif;
border-radius: 15px;
padding: 7px;
margin: 15px 7px 20px 7px;
background-color: #778da9;
font-weight: bold;
}
.demo-btn{
position: absolute;
font-family: 'Overpass', sans-serif;
border-radius: 15px;
padding: 7px;
margin: -70px -60px 0px 100px;
background-color: #778da9;
font-weight: bold;
}

.form {
  margin: 10px 0 15px 0;
}
.error_div{
  display: flex;
  flex-direction: column;
  background-color:rgba(158, 47, 43, 0.4);
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid rgb(59, 14, 14);
  text-emphasis: bold;
}

@media screen and (min-width: 769px) {
  .form-container {
    max-width: 400px;
  }
  .error_div{
    max-width: 400px;
  }
}

@media all and (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
  .error_div{
    max-width: 100%;
  }
}
