@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

a,
p,
input,
label,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
}

.nav-bar a {
  padding: 20px;
}

.nav-bar a:hover {
  color: rgba(0, 0, 0, 0.3);
  /* font-weight: bold; */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input {
  padding: 10px;
}

label {
  display: none;
  margin-right: 20px;
}

.btn {
  display: absolute;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Podshelf__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}

.left-bar {
  position: absolute;
  left: 20px;
  top: 20px;
}

/* .search input {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
} */

.search {
  position: absolute;
  left: 40px;
  top: 20px;
}
