.main-content-container {
    display: grid;
    grid-template-columns:1fr 2.5fr 1fr;
    grid-template-areas: 'left center right';
    /* box-sizing: border-box; */
}

.left-bar {
    grid-area: left;
    /* border: 1px solid white; */
    margin-left: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
}

.right-bar {
    grid-area: right;
    /* border: 1px solid white; */
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.center-content {
    grid-area: center;
    /* border: 1px solid white; */
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* box-sizing: border-box; */
}

h1 {
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}
