.main-content-container {
    display: grid;
    grid-template-columns:1fr 2.5fr 1fr;
    grid-template-areas: 'left center right';
    /* box-sizing: border-box; */
}

.left-bar {
    grid-area: left;
    /* border: 1px solid white; */
    margin-left: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
}

.right-bar {
    grid-area: right;
    margin-right: 10px;
    padding: 10px;
    border: none;
    padding: 10px;
    border:3px solid #415a77;
    border-radius: 25px;
    background-color: rgba(65, 90, 119, .4);
    box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
    text-shadow: 1px -5px 3px rgba(13,27,42,0.56);
}

.center-content {
    grid-area: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}
