.navBar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 1%;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    border: solid #1B263B 1px ;
}
.logoImg__navBar img{
    display: flex;
    width: 50%;
    height: auto;
}
/* .listContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
} */
.navBar__list{
    display: flex;
    justify-content: space-between;

    padding: 50% 1%;
}
.navBar__pod-feed{
    justify-self: start;
    background-color: lime;
}
.navBar__sign-out, .navBar__sign-in{
    justify-self: flex-end;
    background-color: teal;
}
