.stars {
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.stars > label {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0;
  width: 5px;
  cursor: pointer;
  color: rgb(236, 221, 221);
}

.stars > label:hover,
.stars > label:hover ~ label,
.stars > input.radio-btn:checked ~ label {
  color: transparent;
}
.stars > input {
  opacity: 0;
}

.stars > label:hover:before,
.stars > label:hover ~ label:before,
.stars > input.radio-btn:checked ~ label:before,
.stars > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}
.pod_review_container{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  padding: 5px;
}
.pod_review_container textarea{
  background-color: #e0e1dd;
  border: 3px solid #415a77;
}
.pod_review_container button{
font-family: 'Overpass', sans-serif;
border-radius: 5px;
padding: 7px;
margin: 15px 7px 20px 7px;
background-color:#415a77;
font-weight: bold;
border: none;
}
.pod_review_container > h2{
  font-size: 20px;
  align-self: center;
}

.delete-button {
  font-family: 'Overpass', sans-serif;
  border-radius: 5px;
  padding: 7px;
  margin: 15px 7px 20px 7px;
  background-color:#415a77;
  font-weight: bold;
  border: none;
}


.right-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border:3px solid #415a77;
    border-radius: 25px;
    background-color: rgba(65, 90, 119, .2);
    box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
    text-shadow: 1px -5px 3px rgba(13,27,42,0.56);;
}

.right-bar h2{
  font-size: x-large;
  margin: 10px;
}

.Genre_Pods{
  margin: 10px;
  padding: 10px;
}
.img_holder{
  margin: 30px;

  width: fit-content;
  height: fit-content;
  background-color:  rgba(21, 21, 21, .6);
}
.Avg_Stars{
  color: #FFD700;
  opacity: 1;
}
.left-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:3px solid #415a77;
  border-radius: 25px;
  background-color: rgba(65, 90, 119, .2);
  box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
  text-shadow: 1px -5px 3px rgba(13,27,42,0.56);;
}
.img_holder img{
  height: 200px;
  width: 200px;
}
.center-content{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border:3px solid #415a77;
    border-radius: 25px;
    background-color: rgba(65, 90, 119, .2);
    box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
    text-shadow: 1px -5px 3px rgba(13,27,42,0.56);;
}
#innerHeader{
  margin: 20px;
}
.pod_description h4{
  font-size: large;
  font-weight: bold;
}
.pod_description{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 20px;
  border-bottom: 3px solid rgba(80, 87, 94, 0.89);
  border-radius: 5px;
}
.shelf_btn_container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.shelf_btn_container h3{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.shelf_btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
}
#ReviewDiv{
  border-top:2px solid #415a77;
}
.reviews{
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
.review__div{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-bottom:2px solid #415a77;
  padding: 30px;
}
.review__div button{
  border: none;
  background-color: #415a77;
  max-width: fit-content;
  padding: 10px;
  font-family: 'Overpass', sans-serif;
  
}
.reviewer{
  font-size: large;
  font-weight: bold;
}
.rating{
  color:#FFD700;
}
.reviews h2 {
  font-size: x-large;
  padding: 10px;
  margin: 10px;
}

@media (max-width:800px) {
  .main-content-container{
    display: flex;
    flex-direction: column;
  }
  .right-bar{
    visibility: hidden;
  }
  .pod_review_container{
    display: flex;
    flex-direction: column;
    margin: 10px
  }
  .left-bar{
    
  }
}


.stars {
  margin-left: 35px;
  margin-bottom: 20px;
}
/* .stars > label:hover:before,
.stars > label:hover ~ label:before,
.stars > input.radio-btn:checked ~ label:before, */
/* .stars > input.radio-btn:checked ~ label:before { */