/* @import url('forms.css') */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  padding: 50px;
  background-color: #0d1b2a;
  font: 14px "Overpass", sans-serif;
  color: #e0e1dd;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  font-family: "Electrolize", sans-serif;
}
