@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.center-content {
    margin: 20px 20px 10px 20px;
}

.left-bar {
    margin-top: 20px;
    margin-left: 20px;
}

.right-bar {
    margin-top: 20px;
    margin-right: 20px;
}


.user-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-stuff h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

.account {
    padding: 10px;
    color: #778da9;
}

#your-shelf {
    margin: 20px 0 30px 0;
    font-size: 2.5em;
    text-align: center;
}

.genres {
    margin-right: 40px;
}

.pod-name-div > a {
    height: 10px;
}

.shelves {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
    margin: 10px 20px 10px 20px;

}

.shelf-item {
  margin: 10px;
  padding: 10px;
  max-height: 160px;
}

.shelves > div > h2 {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  /* font-family: 'Electrolize', sans-serif; */
}


.pod-pic {
    padding: 20px;
    margin: 10px;
}


.name-and-btn {
    position: absolute;
    /* left: 5px; */
    padding: 10px;
}

.remove-button {
font-family: 'Overpass', sans-serif;
border-radius: 15px;
padding: 7px;
margin: 15px 7px 20px 7px;
background-color: #778da9;
font-weight: bold;
position: absolute;
}

.shelf-contents {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #415a77;
    border-radius: 25px;
    background-color: rgba(65, 90, 119, .4);
    box-shadow: inset 0px 0px 35px 10px rgba(13,27,42,0.56);
    text-shadow: 1px -5px 3px rgba(13,27,42,0.56);
    position: relative;
    overflow-x: scroll;
    height: 270px;
}


.welcome {
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
}

.genres > h1 {
    padding: 15px;
}

.genres > li {
    padding: 15px;
    align-content: center;
 }

@media screen and (max-width: 768px) {
    .shelves {
        max-width: 100%;
    }
    .left-bar {
        display: hidden;
    }
    .right-bar {
        display: hidden;
    }
}


